<app-table-toolbar [deleteDisable]="!selectedRowId"
                   [fieldNames]="config"
                   (handleAddNewRow)="handleAdd($event)"
                   (handleDeleteRow)="handleDelete()">
</app-table-toolbar>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let headerConfig of config; trackBy: trackByFn">
        {{headerConfig?.title}}
        <span (click)="handleDeleteColumn(headerConfig?.id)">
          <img src="../../../assets/images/close.svg"
               alt="close-icon"
               width="14"
               height="14"/>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item  of data; trackBy: trackByFn"
      [ngClass]="{'selected-row': item.id === selectedRowId}"
      (click)="selectRow(item.id)">
    <td *ngFor="let headerConfig of config">{{ item[headerConfig?.field] }}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr *ngIf="isShowAdditionalInfo && additionalInfo">
    <td *ngFor="let headerConfig of config">{{ additionalInfo[headerConfig?.field] }}</td>
  </tr>
  </tfoot>
</table>
